.done {
  color: gray;
  text-decoration: underline;
}

.uk-card {
  input {
    font-weight: 300;
  }
  .uk-card-header {
    p {
      font-weight: 300;
    }
  }
  
  .uk-card-body {
    p {
      font-weight: 300;
    }
  }

}